@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
    /*font-family: "OpenSans-Bold";*/
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
    /*font-family: "OpenSans-Light";*/
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
    /*font-family: "OpenSans-Regular";*/
}

body{
	background-color: #fff;
	padding: 0px;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: "OpenSans-Regular";
	color: #5c5b5b;
}
a.link:link,a.link:hover{
    text-decoration: none;
    color: #de2211;
}
label{ 
	display: block;
	color: #2a2a2a;
	font-size: 14px;
        font-weight: normal;
        font-family: "OpenSans-Light"; 
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
.form-control{
    background-color: #efeff1;
    color: #2a2a2a;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.lblSearchLbl{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
}

form{
    background-color: #fff;
    padding: 20px;
    color: #5c5b5b;
    text-align: justify;
}
fieldset{
    padding-left: 0 !important;
    padding-right: 2px;
    padding-bottom: 10px;
    border-top: none;
    border-bottom: 1px solid #ddd;
    margin-left: 0 !important;
    margin-bottom: 10px;
}
fieldset legend{
    font-size: 14px;
    padding: 0;
    color: #2a2a2a;
}
strong{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    color: #de2211;
}
p{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    color: #5c5b5b;
}

.asterisco_rojo{
    font-size: 10px;
    color: #de2211;
}
#page{
	min-height: 500px;
}
#main{
	padding-top: 10px;
	padding-bottom: 20px;

}
.right{
	float: right;
	margin-right: 80px;
}
.left{
	float: left;
	margin-left: 50px;
}
.red{
    font-family: "OpenSans-Regular";
    color: #de2211;
}
.border-red{
   border: 1px solid red;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}

/* TOP HEADER -------------------------------------------------------- */
.responsive-navbar{
    margin-bottom: 0 !important;
}

/* menu user / bandera */
#div_user_menu_top{
	background-color: #222;
	border: 1px solid #222;
	padding: 5px 0 0 0;
	text-align: right;
}
#div_user_menu_top ul{
	list-style-type: none;
}
#div_user_menu_top ul li { 
	display: inline;
	padding-right: 20px;
}
#div_user_menu_top ul li a.bold{ 
	font-family: "OpenSans-Bold";
	font-size: 14px;
	color: #de2211;
}
#div_user_menu_top ul li a:hover{
	color: #939595;
}
/* admin-menu de acceso superior */ 
#user-name{
    background-color: #c84e4e;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
#user-name span{
    color:#fff;
    font-weight: normal !important;
}
/* HEADER -------------------------------------------------------- */
#header{
	background: url("../images/header_bg.png") left top;
	background-color: #363636;
	height: 100px;
        padding: 0;
        border: 1px solid #363636;
}
#header .header__logo{
	margin-top: -40px;
}

/* menu principal top */
#header .menu-superior{
        text-align: right;
}
#header .menu-superior ul{
	margin-top: 38px;
   	padding: 0;
   	list-style-type: none;
}
#header .menu-superior ul li{
    display: inline;
    text-align: center;
}
#header .menu-superior ul li a:link,
#header .menu-superior ul li a:visited{
	font-size: 14px;
	font-family: "OpenSans-Regular";
	text-decoration: none;
	padding-top: 37px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 38px;
	color: #fff;
        text-transform: uppercase;
}
#header .menu-superior ul li a:hover,
#header .menu-superior ul li a.active{
	background-color: #303030;
	color: #dd1812;
	border-top:4px #dd1812 solid;
	border-bottom:2px #dd1812 solid;
}

/* SLIDER -------------------------------------------------------------- */
#div_slider_top{
	margin-top: 0px;
}
.galeria-superior{
  background-color: #000;
  width: auto !important;
  height: auto !important;
}
.galeria-superior .item .img-slider{z-index: 1;}
.galeria-superior .item .descripcion{
	position: relative;
	z-index: 9;
	width: 400px;
        height: auto;
	margin-top: -120px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #222;
	opacity: 0.9;
	filter:  alpha(opacity=90);
}

#owl-slider-top .item .img-slider{display: block;width: 100%;height: auto;}
.galeria-superior .owl-carousel .owl-item .img-slider{z-index: 1;}
.galeria-superior .owl-carousel .owl-item .descripcion{
	position: relative;
	z-index: 9;
	width: 400px;
        height: 100px;
	margin-top: -170px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #222;
	opacity: 0.9;
	filter:  alpha(opacity=90);
}
.galeria-superior .owl-carousel .owl-item .descripcion .imagen,
.galeria-superior .owl-carousel .owl-item .descripcion .content,
.galeria-superior .item .descripcion .imagen,
.galeria-superior .item .descripcion .content{
    display: inline-block;
}
.galeria-superior .owl-carousel .owl-item .descripcion .imagen,
.galeria-superior .item .descripcion .imagen{
    vertical-align: top;
    margin-right: 10px;
}
.galeria-superior .owl-carousel .owl-item .descripcion .content,
.galeria-superior .item .descripcion .content {
    width: 284px;
}
.galeria-superior .owl-carousel .owl-item .descripcion .content .title,
.galeria-superior .owl-carousel .owl-item .descripcion .content .title a,
.galeria-superior .item .descripcion .content .title,
.galeria-superior .item .descripcion .content .title a{
        font-size: 16px;
	font-family: "OpenSans-Bold";
	text-align: left;
	text-transform: uppercase;
}
.galeria-superior .owl-carousel .owl-item .descripcion .content .title a:link,
.galeria-superior .owl-carousel .owl-item .descripcion .content .title a:visited,
.galeria-superior .item .descripcion .content .title a:link,
.galeria-superior .item .descripcion .content .title a:visited{
	color: #fff;
}
.galeria-superior .owl-carousel .owl-item .descripcion .content .title a:hover,
.galeria-superior .item .descripcion .content .title a:hover{
	color: #de2211;
}
.galeria-superior .owl-carousel .owl-item .descripcion .content .sub-title,
.galeria-superior .item .descripcion .content .sub-title{
        font-size: 14px;
	font-family: "OpenSans-Regular";
	text-align: left;
        color: #fff;
}
.galeria-superior .owl-carousel .owl-item .descripcion  p.link,
.galeria-superior .owl-carousel .owl-item .descripcion .link,
.galeria-superior .item .descripcion p.link,
.galeria-superior .item .descripcion .link{
	margin-top: 2px;
	text-align: left;
}

/*------ Centrado de img en el div -------------*/
.centrado-porcentual {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -10%);
	-webkit-transform: translate(-50%, -50%);
}

/* DESTACADOS ------------------------------------------------------------ */
#destacados{
	padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
#destacados p{
    font-size: 14px;
}
#destacados p.texto-home-is-our{
	text-align:center;
	font-size: 28px;
	font-family: "OpenSans-Light";
	color: #2a2a2a;
}
#destacados p.texto-home-is-our strong,
#destacados p.texto-home-is-our strong.emgred{
	text-transform: uppercase;
	color: #de2211;
	font-size: 28px;
}

/* etiquetas */
.etiqueta{
    color: #fff;
    font-family: "OpenSans-Bold";
    background-color: #0e1215;
    text-align: center;
    width: 300px;
    padding: 7px;
    margin: 0 auto;
    border-left: 3px solid red;
    border-right: 3px solid red;
    transform: skew(-22deg, -180deg) ;
    -webkit-transform: skew(-22deg, -180deg) ;
    -moz-transform: skew(-22deg, -180deg) ;
    -o-transform: skew(-22deg, -180deg) ;
    -ms-transform: skew(-22deg, -180deg) ;
}
.etiqueta-texto-16{font-size: 16px;}
.etiqueta-texto-18{font-size: 18px;}
.etiqueta-texto-20{font-size: 20px;}/*default*/

.top-10{
    margin-top: 30px;
}
.top-20{
    margin-top: 30px;
}
.top-30{
    margin-top: 30px;
}
.top-40{
    margin-top: 40px;
}
.top-50{
    margin-top: 50px;
}
.top-100{
    margin-top: 100px;
}
.top-200{
    margin-top: 200px;
}
.bottom-10{
    margin-bottom: 30px;
}
.bottom-20{
    margin-bottom: 30px;
}
.bottom-30{
    margin-bottom: 30px;
}
.bottom-40{
    margin-bottom: 40px;
}
.bottom-50{
    margin-bottom: 50px;
}
.bottom-100{
    margin-bottom: 100px;
}
.bottom-200{
    margin-bottom: 200px;
}


/* CONTENIDO TOP ------------------------------------------- */
#article{
	background-color: #fff;
	color: #5c5b5b;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
#article h1{
	font-size: 24px;
	font-family: "OpenSans-Regular";
	color: #2a2a2a;
	width: 100%;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
#article p{
        color: #5c5b5b;
	font-size: 14px;
	text-align: justify;
	padding-top: 5px;
	line-height:200%;
}
/* imagen */
#artile .image{
        margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

/* articulo del home */
.bloque-ultimo-producto{
	padding-top:15px;
	padding-bottom:50px;
}
.bloque-ultimo-producto,
.bloque-ultimo-producto .titulo{
	margin-top: 10px;
	margin-bottom: 10px;
}
.bloque-ultimo-producto .div-contenido .titulo,
.bloque-ultimo-producto .div-contenido .titulo a{
	font-size: 24px;
	font-family: "OpenSans-Regular";
	font-weight: bold;
	color: #2a2a2a;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
}
.bloque-ultimo-producto .div-contenido .descripcion{
	color: #5c5b5b;
	font-size: 14px;
	font-family: "OpenSans-Regular";
	text-align: justify;
	padding-top: 5px;
	line-height:200%
}
.bloque-ultimo-producto .div-contenido .enlace{
    margin-top: 10px;
}
.bloque-ultimo-producto .div-imagen img{
    margin-top: 30px;	
    margin-left: 20px;
}

/* PUBLICIDAD MINI BANNERS ------------------------------------------------------- */
#div-publicidad-mini-banners{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#div-publicidad-mini-banners #div-publicidad-mini-banners-right,
#div-publicidad-mini-banners #div-publicidad-mini-banners-left{
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    max-width: 412px;
    max-height: 121px;
    display: inline-block;
}
#div-publicidad-mini-banners #div-publicidad-mini-banners-left img,
#div-publicidad-mini-banners #div-publicidad-mini-banners-right img{margin: 0 auto;}

/* NEWS RELEASES ---------------------------------------------------------------------- */
#new-reales-home{
    margin-top: 30px;
    padding: 30px;
    background: url("../images/fondo-galeria.jpg") left top;
    background-color: #1d1d1d;
}
#new-reales-home .owl-item{
	padding: 4px;
}
#new-reales-home h2{
	font-size: 36px;
	font-family: "OpenSans-Light";
	color: #fff;
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #5c5b5b;
}
/*items*/
#new-reales-home .titulo{
	margin-top: 10px;
        text-align: center;
        width: 230px;
}
#new-reales-home .titulo a{
	font-size: 14px;
	font-family: "OpenSans-Regular";
	color: #de2211;
	text-transform: uppercase;
}
#new-reales-home .titulo a:hover{
	color: #fff;
}
#new-reales-home .codigo{
	font-size: 14px;
	font-family: "OpenSans-Regular";
	color: #5c5b5b;
	text-align: center;
	text-transform: uppercase;
}
#new-reales-home  .owl-prev{
	background: url("../images/boton-slider-gris_right.png") left top;
}
#new-reales-home .owl-next{
	background: url("../images/boton-slider-gris_left.png") left top;
}

/* CONTENT BOTTOM ------------------------------------------- */
.nuestros-productos{
	text-align: center;
	margin-top: 50px;
}
.nuestros-productos h2{
	font-size: 24px;
	font-family: "OpenSans-Regular";
	color: #de2211;
	text-transform: uppercase;
}
.nuestros-productos p{
	font-size: 14px;
	font-family: "OpenSans-Regular";
	color: #5c5b5b;
	margin-top: 20px;
}

/* lista ul tipos de producto home */
.tipos-producto-home{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 200px;
	text-align: center;
}
.tipos-producto-home ul{
	float: left;
  	width: 100%;
  	list-style-type: none;
}
.tipos-producto-home ul li{
	display:inline;
	width: 33%;
    padding-left: 2px;
    padding-right: 2px;
	float: left;
        margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    list-style-position:inside;
}
.tipos-producto-home ul li a{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    color: #5c5b5b;
    /*font-weight: bold;*/
    text-align: left;
    width: 100%;
    height: 24px;
    text-decoration: none;
}
.tipos-producto-home ul li a{
    padding-left: 35px;
    padding-top: 2px;
}
.tipos-producto-home ul li a:link,
.tipos-producto-home ul li a:visited {
    display: block;
    background: url(../images/checklist-desact.jpg) no-repeat;
}
.tipos-producto-home ul li a:hover {
    color: #e2463a;
    background: url(../images/checklist-act.jpg) no-repeat;
}

table tr{
    border-bottom: 1px dashed #ddd;
}
table td{
    font-size: 14px;
}
table tr th,table tr td{
    text-align: center;
}

.icon-pdf{
    text-align: right;
}


/* pagina de producto individual */
.node-product{
	padding: 10px;
}
.node-product .image{
	border: 1px solid #eee;
	text-align: right;
	padding-right:2px;
	margin-bottom: 5px;
}
.node-product .titulo{
	color: #de2211;
	font-size: 16px;
}
.node-product .datos-linea{
	color: #de2211;
	font-size: 14px;
}
.node-product .descripcion{
	color: #2a2a2a;
	font-size: 14px;
	font-family: "OpenSans-Light";
	margin-bottom: 2px;
}

.node-product table tr td{
	color: #2a2a2a;
	font-size: 14px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
.node-product table tr td a{

	color: #de2211;
	font-size: 14px;
	text-align: left;
}
.node-product table tr td.qty input[type="text"]{
	color: #2a2a2a;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 4px;
	height: 30px;
}
.node-product table tr td.remove input[type="submit"]{
	font-size: 10px;
	height: 25px;
}

/* pagina productos con filtros*/
.page-producto{
    margin-top: 10px;
    padding: 10px;
}
.page-producto .formulario-productos,
.page-producto .div-contenido{
    padding-top: 0 !important;
}
.page-producto .div-contenido .texto-global{
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: justify;
}
.page-producto .div-contenido .print_result{
    padding-top: 30px !important;
    text-align: right;
}
.page-producto .product-row{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; 
}
.page-producto .product-row .imagen{
    float: left;
    margin-right: 10px;
}
.page-producto .product-row .titulo a{
    font-size: 16px;
    font-weight: bold;
    color: #2a2a2a;
    text-align: left;
    text-transform: uppercase;
}
.page-producto .product-row .descripcion p{
    font-size: 14px;
    font-weight: normal;
    color: #5c5b5b;
    text-align: justify;
    margin-top: 5px;
    word-break: break-all;
}
.page-producto .product-row .datos-linea{
    font-size: 14px;
    color: #de2211;
    text-align: left;
}
.page-producto .product-row .control-cesta{
    text-align: right;
    margin-bottom: 10px;
}

/* bloque productos */
.formulario-productos{
    padding: 5px;
}
.formulario-productos h2{
    font-size: 16px;
    color: #2a2a2a;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
}
.formulario-productos .lblTiposProductos,
.formulario-productos .lblSKU,
.formulario-productos .lblCompetidor,
.formulario-productos .lblSearchByVehicle{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
}
.formulario-productos .views-exposed-form{
    padding: 5px;
}
.formulario-productos .views-exposed-widget{
    width: 100%;
}
.formulario-productos .views-submit-button{
    text-align: center;
}
.formulario-productos .views-exposed-widget select{
	width: 280px;
	margin-top: 2px;
}

a.menu_icon{
	padding-left: 19px;
}

.imagen-catalog-page .block-image{
	padding-right: 70px;
	text-align: right;
}

.imagen-download-catalog{
	text-align:center;
}

.imagen-contacto p,
.bloque-imagen-login p,
.bloque-imagen-register p{
	color: #5c5b5b;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}
/* bloques de contacto */
.bloque-info-contacto,
.bloque-info-horario-trabajo{
	margin-top: 20px;
}
.bloque-info-contacto h2,
.bloque-info-horario-trabajo h2{
	margin-top: 10px;
	text-align: left;
	text-transform: uppercase;
	color: #2a2a2a;
	font-size: 20px;
}
.bloque-info-contacto p,
.bloque-info-horario-trabajo p{
	color: #5c5b5b;
	margin-top: 5px;
	font-size: 14px;
	text-align: left;
	line-height: 100%;
}
.bloque-info-contacto p span.emgred,
.bloque-info-contacto p a{
	color: #de2211;
	font-size: 14px;
}

/**/
#catalog_products_page{}
#catalog_products_page .texto{
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;
}
#contact_page .texto{
    text-align: justify;
}
#catalog_download_page{}
#catalog_download_page .enlace{
    text-align: center;
    padding: 2px;
}
#catalog_download_page .enlace a{
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
#catalog_download_page .imagen{
    text-align: center;
}
#catalog_download_page .imagen img{
    margin: 0 auto;
    border: 1px solid #fff;
}
#catalog_download_page .imagen img:hover{
    border: 1px solid red;
}

ul.ui-autocomplete {
    overflow: auto;
    max-height: 200px;
}
ul.ui-autocomplete li{
    font-weight: normal;
    max-width: 99%;
}
ul.ui-autocomplete li:hover{
   font-weight: normal;
}
.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* FOOTER ----------------------------------------------------------- */
#max-footer{
    width: 100%;
    height: 150px;
    background-color: #303030;
}
#max-footer .region-bottom{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right:20px;
    width: 100%;
}

#max-footer .region-bottom .menu-footer{
	width: 60%;
	float: left;
	display: inline;
	text-align: left;
	padding-bottom: 0px;
	border-bottom: 1px solid #424242; 
}
#max-footer .region-bottom .menu-footer ul{
	margin-top: 5px;
   	padding: 0;
   	list-style-type: none;
}
#max-footer .region-bottom .menu-footer ul li{
    display: inline;
    text-align: center;
}
#max-footer .region-bottom .menu-footer ul li a{
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #868686;
	text-align: center;
}
#max-footer .region-bottom .menu-footer ul li a:link,
#max-footer .region-bottom .menu-footer ul li a:visited{
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: #868686;
}
#max-footer .region-bottom .menu-footer ul li a:hover{
	background-color: #303030;
	color: #dd1812;
}
/* datos de contacto left */
#max-footer .region-bottom .datos-contacto{
	color: #868686;
	line-height: 15px;
	width: 60%;
	float: left;
	display: inline;
	text-align: left;
	margin-top: -20px;
}
#max-footer .region-bottom .datos-contacto p{}
#max-footer .region-bottom .datos-contacto p span.icono-casa{
	margin-right: 20px;
}
#max-footer .region-bottom .datos-contacto p span.icono-tlf{
	margin-right: 20px;
}
#max-footer .region-bottom .datos-contacto p span.icono-email{
	margin-right: 20px;
}
#max-footer .region-bottom .datos-contacto p span.icono-email a{
	color: #868686;
}
#max-footer .region-bottom .datos-contacto p{
    font-size: 14px;
    color: #868686;
    text-align: left;
    padding-top: 10px;
}

/* bloque derecho - iconos redes sociales */
#max-footer .region-bottom .block-footer-contacto{
	padding-top: 5px;
	width: 39%;
	float: right;
	text-align: right;
}
#max-footer .region-bottom .block-footer-contacto a{
    font-size: 14px;
    color: #868686;
    text-align: right;
    text-decoration: none;
}
#max-footer .region-bottom h2{
    font-size: 14px;
    color: #868686;
    text-align: right;
    padding-bottom: 14px;
    border-bottom: 1px solid #424242; 
}
#max-footer .region-bottom .block-footer-contacto p{
    font-size: 14px;
    color: #868686;
    text-align: right;
    padding-top: 10px;
}
#max-footer .region-bottom p a{
    padding-right: 15px;
}

/* copyright */
#max-footer .region-bottom .texto-copyright{
	color: #868686;
	line-height: 15px;
	width: 100%;
	float: right;
	display: inline;
	margin-top: -20px;
}
#max-footer .region-bottom .texto-copyright p{
	text-align: center;
}

/**/
#orders{}
#orders .primera-linea{}
#orders table{}
#orders table td .elimina,#orders table td .edit{
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
#orders table td .elimina:hover,#orders table td .edit:hover{
    border: 1px solid #eee;
}
#orders #total-order{}
#orders #total-order #bloque{
    width: 260px;
    padding: 0;
    border: 1px solid #eee;
}
#orders #total-order #bloque .titulo{
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #eee;
    display: inline-block;
    width: 120px;
}
#orders #total-order #bloque .precio{
    color: #333;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    width: 130px;
}


/**/
#upoload-orders{
    margin-top: 10px;    
    padding-bottom: 40px;
    
}
#upoload-orders form{
    text-align: center;
}
#upoload-orders form label{
    color: #333;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    font-weight: normal;
}

/* MISCELANEOS ---------------------------------------------------- */
#search-block-form input[name="op"],
#first-time,
.links .comment-add{
    display: none;
    visibility: visible;	
}

table,
.views-table {
	overflow: auto;
	width: 100%;
}

/* border: 1px red solid; */
.block-image{
	text-align:center;
}
/* el BODY CONTENT CENTER */
/*.region-sidebar-first, */
.region-sidebar-second{
	min-width: 400px;
}

.blanco{
	font-family: "OpenSans-Regular";
	color: #fff;
}
.gris{
	font-family: "OpenSans-Regular";
	color: #5c5b5b;
}
.rojo{
	font-family: "OpenSans-Regular";
	color: #de2211;
}
.negro{
	font-family: "OpenSans-Regular";
	color: #2a2a2a;
}
span.error,label.error{
    font-family: "OpenSans-Regular";
    color: #de2211 !important;
    font-size: 14px !important;
    margin-top: 4px !important;
    text-align: left !important;;
}

.btn-ppal,
input[type='submit']{
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #de2211;
    min-width: 94px;
    height: 33px;	
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.btn-ppal:focus,input[type='submit']:focus{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-ppal:hover,
.btn-ppal:focus,
input[type='submit']:hover{
  color: #fff;
  background-color: #e35447;
  text-decoration: none;
}
.btn-ppal a:link,
.btn-ppal a:visited,
.btn-ppal a:hover{color: #fff;}

/* mini iconos */
.fa:hover{
	color: #e2463a;
	cursor: pointer;
}

.backgfooter {
    background-color: #383838;
    padding-bottom: 30px;
    margin-top: 40px;
}
#footer h5 {
	color: #FFFFFF;
	font-weight: 100;
	font-size: 14px;
	border-bottom: #444444 solid 1px;
	padding-bottom: 7px;
	padding-top: 10px;
        text-transform: uppercase;
}
#footer p {
	color: #BBBBBB;
	font-size: 12px;
        text-align: justify;
}
.footerbar {
	background-color: #2C2C2C;
}
.footerbar p {
	color: #777777;
	font-size: 11px;
	margin-top: 6px;
}
#footer img {
	margin-right: 8px;
}
#footer li {
	border-bottom: #777777 1px solid;
	padding-bottom: 10px;
	padding-top: 5px;
}
#footer ul {
	padding-left: 0px;
}
#footer a {
	color: #BBBBBB;
	font-size: 12px;
}

.space-100{height: 100px;}
.space-200{height: 200px;}
.space-300{height: 300px;}
.space-400{height: 400px;}

.ui-autocomplete {
    z-index: 9999999 !important;
}

@media (max-width: 199px) {
    /* contenido de la galeria */
    .galeria-superior  .owl-carousel .owl-item .descripcion{
            /*display: none;*/
    }
}
@media (max-width: 550px) {
	#header{
		padding-top: 1px;
		height: 160px;
		text-align: center;
	}
	.header__logo{
            width: 100px;
            margin: 0 auto;
            float: none;
	}
        #div_user_menu_top{text-align: left;}
	.texto-home-is-our p{
		font-size: 14px;
	}
}
@media (max-width: 767px) {
	#header{
		padding-top: 1px;
		height: 160px;
		text-align: center;
	}
	.header__logo{
            width: 100px;
            margin: 0 auto;
            float: none;
	}
	.menu-superior{
		float: none;
	}
	
	.texto-home-is-our p{
		font-size: 20px;
	}
	
	/* imagenes de los nodos / articulos / basic page */
	/* imagen */
	.node-page .field-type-image,
	.node-page .field-name-field-image{
		float: none;
		display: block;
	}
	.tipos-producto-home ul li{
		width: 50%;
	}
	/* footer */
	#max-footer{
		height: 270px;
	}
	#max-footer .region-bottom .texto-copyright{
		margin-top: 10px;
	}
	#max-footer .region-bottom .datos-contacto,
	#max-footer .region-bottom .block-footer-contacto,
	#max-footer .region-bottom .menu-footer{
		width: 100%;
		float: none;
		text-align: left;
		border: none; 
	}
}
@media (max-width: 940px) {
	#header{
            padding-top: 1px;
            height: 160px;
            text-align: center;
	}
	.header__logo{
            width: 100px;
            margin: 0 auto;
            float: none;
            text-align: center;
	}
        #div_user_menu_top{
            padding-left: 0 !important;
            text-align: center;}
}
@media (min-width: 770px) and (max-width: 820px) {
	#header{
		padding-top: 1px;
		height: 160px;
		text-align: center;
	}
	.header__logo{
		width: 100px;
		margin: 0 auto;
		float: none;
	}
	
	.texto-home-is-our p{
		font-size: 24px;
	}

	/* imagenes de los nodos / articulos / basic page */
	/* imagen */
	.node-page .field-type-image,
	.node-page .field-name-field-image{
		float: none;
		display: block;
	}
	.tipos-producto-home ul li{
		width: 50%;
	}
	/* footer */
	#max-footer{
		height: 270px;
	}
	#max-footer .region-bottom .texto-copyright{
		margin-top: 10px;
	}
	#max-footer .region-bottom .datos-contacto,
	#max-footer .region-bottom .block-footer-contacto,
	#max-footer .region-bottom .menu-footer{
		width: 100%;
		float: none;
		text-align: left;
		border: none; 
	}
}
/****** menu responsive */
/*.slicknav_menu {
	display:none;
}
.slicknav_menu ul li a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;    
}*/
@media (max-width: 1200px) {
	/*#menu-top{
		display:none;
	}
        .slicknav_menu {
		display:block;
	}*/
        #header{
            height: 100px;
            padding-top: 10px;
            padding-bottom: 2px;
        }
        #header .header_logo{
            margin-top: 1px;
            text-align: center;
        }
}
/****** menu responsive */

.disabled{display:none;}
.enabled{display:block;}

.letra_descripcion{
	font-size: 18px;
	color: white;
	word-wrap: break-word;
}